:root {
  //Primary
  --tomato: #ff6257;
  --vermellion: #ff6155;
  --vermellion-light: #ff605526;

  // Neutral
  --dark-slate-grey: #242742;
  --charcoal-grey: #36384e;
  --grey: #9294a0;
  --white: #ffffff;
  --black: #000000;
}