.newsletter {
  color: var(--dark-slate-grey);
  max-width: 23.438rem;
  height: auto;
  box-shadow: 0 1rem 3.75rem 0 rgba(0, 0, 0, 0.25);

  &__hidden {
    display: none;
  }

  &__image {
    width: 23.438rem;
    height: auto;
  }

  &__content {
    padding: 2.5rem 1.5rem;
  }
  &__title {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    line-height: 100%;
    font-weight: bold;
  }

  &__description {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 150%;
  }

  &__features {
    list-style: none;
  }

  &__feature {
    display: flex;
    margin-bottom: 0.625rem;

    &-text {
      font-size: 1rem;
      line-height: 150%;
    }
  }

  &__icon-svg {
    margin-right: 1rem;

  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;

    &-label {
      font-size: 0.75rem;
      line-height: 150%;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    &-input {
      max-width: 20.438rem;
      height: 3.5rem;
      border: 1px solid var(--grey);
      border-radius: 0.5rem;
      margin-bottom: 1.5rem;
      padding: 1rem;
      cursor: pointer;
    }

    .error {
      border: 1px solid var(--vermellion);
      background-color: var(--vermellion-light);

      &::placeholder {
        font-size: 1rem;
        line-height: 150%;
        color: var(--vermellion);
      }
    }

    &-button {
      max-width: 20.438rem;
      height: 3.5rem;
      background-color: var(--dark-slate-grey);
      color: var(--white);
      padding: 1.125rem 2.875rem 0.875rem 3rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      line-height: 150%;
      font-weight: 500;
      cursor: pointer;

      &:hover, &:focus {
        background: rgb(255,106,58);
        background: linear-gradient(0deg, rgba(255,106,58,1) 0%, rgba(255,82,123,1) 100%);
      }
    }
  }
}

@media (min-width: 768px) {
  .newsletter {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;

    &__image {
      width: 100%;
      &-svg {
        width: 100%;
        height: auto;
      }
    }

    &__content {
      padding: 2rem;
    }

    &__form {
      display: flex;
      align-items: center;

      &-input {
        width: 100%;
      }
    }
  }
}

@media (min-width: 1440px) {
  .newsletter {
    max-width: 58rem;
    height: 40.063rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 2.25rem;

    &__hidden {
      display: none;
    }

    &__image {
      width: 25rem;
      height: auto;
      border-radius: 1rem;
      user-select: none;

      &-svg {
        width: 400px;
        height: 593px;
      }
    }

    &__title {
      font-size: 3.5rem;
      line-height: 100%;
    }

    &__content {
      padding: 4.563rem 4rem 4.625rem 2.5rem;
    }

    &__form {
      display: flex;
      align-items: baseline;
      &-button {
        max-width: 23.5rem;
        padding: 1.125rem 4.438rem 0.875rem 4.5rem;
      }
      &-input {
        max-width: 23.5rem;
      }
    }
  }
}